.fon{
    margin: 0 auto;
}
.fon1{
    background-color:rgb(29,29,29);
    color: white;
    width: auto;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;

}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: auto;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#F85E2E;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    transition: transform .3s ease-out;
}
  
#myBtn:hover {
    background-color: #F85E2E;
    transform: scale(1.1);  

}
.bosluq{
    padding-left: 30px;
}
.adress{
    display: flex;
}

.social{
    display: flex;
}
.logo{
    width: 180px;
    
}
.fon2{
    background-color: rgb(249, 249, 249);
    padding: 0 58px;
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.home{
    display: flex;
    justify-content: space-between;
    font-family:  sans-serif;
    font-size: 17px;
}
.icon{
    padding-left: 5px;
    width: 25px;
}
.icon-menu{
    padding-left: 5px;
    width: 25px;
}
.ara{
    padding-left: 50px;
}
.fon3{
    background-image: url(./image/home-5-video-img.jpg);
    width: 1280px;
    height: 560px;
    border-radius: 10px;
    margin: 0 auto;
    color:white;
    font-size: 32px;
}
.text1{
    padding-left: 70px;
    padding-top: 355px;

}
.cards{
    padding-top: 30px;
    display: flex;
    width: 1301px;
    margin: 0 auto;
}
.name{
    
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.job{
    font-family: sans-serif;
    text-align: left;
}
.card1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 375px;
    height: 380.16px;
    margin:0 auto;
    border-radius: 20px;
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.link{
    background-color: #ffffff;
    color: black;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 30px;
    text-align: left;
    
}
.link span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.link:hover span {
    padding-right: 25px;
}
  
.link:hover span:after {
    opacity: 1;
    right: 0;
}

.card2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 375px;
    height: 380.16px;
    margin:0 auto;
    border-radius: 20px;
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 375px;
    height: 380.16px;
    margin:0 auto;
    border-radius: 20px;
}

.card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.sekil2{
    border-radius: 20px;
    width: 375px;
}

.fon4{
    padding-top: 300px;
}
.text2{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    font-family: sans-serif;
}
.logo2{

  text-align: center;
   
}
.sekil3{
    padding: 60px;
    width: 152px;
    height: 152px;
}
.text3{
    display: flex;
    justify-content: center;
    
}
.fon5{
    background-color: rgb(249,249,249);
    width: 740px;
    height: 635px;
    border-radius: 20px;

    
}
.yazi{
    padding: 110px; 
    font-size: 20px;
}
.yazialti{
    margin-top: -135px;
    padding-left: 115px;
}
.qisatext{
    display: flex;
    padding-top: 30px;  
    
}
.text4{
    font-size: 20px;
    margin: -6px;

}

.fon6{
    background-color: rgb(249,249,249);
    width: 440px;
    height: 635px;
    border-radius: 20px;
    padding-left: 5px;
}
.sekil4{
    padding-top: 100px;  
}
.text5{
   
    width: 1300px;
    padding-top: 10px;
    margin: 0 auto;

}
.qodef-m-title{
   font-size: 50px;
   font-family: sans-serif;
   font-weight: 400;
   padding-left: 150px;
}
.text6{
    display: flex;
    padding-left: 20px;

}
.bir{
    font-family: "Gilda Display",serif;
    font-size: 90px;
    margin: -10px 0 0;
}
.Schedules{
    font-size: 25px;
    margin: 0;
    padding-left: 10px;
}
.text7{
    font-size: 16px;
    margin: 2px;
    padding-left: 10px;
}
.text8{
    display: flex;
    justify-content: space-evenly;
    
}
.text9{
    display: flex;
    padding-top: 80px;
    margin: 0 auto;
}
.text10{
    margin: 0 auto;
}
.lorem{
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
   
}
.you{
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    font-weight: 300;
   
}
.take{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 200;
}
.sekil5{
    width: 400px;
    border-radius: 20px;
}
.sekil6{
    border-radius: 20px;
    width: 250px;
}
.name1{
    color: gray;
    font-family: sans-serif;
}
.text9sekili{
    margin: 0 auto;
}
.ust{
    display: inline;
    margin-left: -160px;
    padding-top: 190px;
}
.text11{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 0 0 0 40px;
}
.sekil7{
    border-radius: 10px;

}
.populer{
    display: flex;
    justify-content: center;
}
.populer2{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.card4{
    transition: 0.3s;
    width: 375px;
    height: 430px;
    margin:0 auto;
    border-radius: 10px;

}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   
}
.name2{
    font-size: 15px;
    color: gray;
    font-family: sans-serif;
    font-weight: 200;
}
.font-1-12{
    font-size: 16px;
    font-family: sans-serif;
}
.flex{
    display:flex;
}
.flex2{
    display:flex;
}
.ulduz{
    width: 12px;
    height: 12px;
    padding: 16px 0 0 2px;
}
.free-bk{
    font-size: 18px;
    font-family: sans-serif;
    padding: 0 0 0 230px;
}
.color-free{
    font-size: 18px;
    font-family: sans-serif;
    color: orange;
    font-weight: 600;
    padding: 0 0 0 230px;
}
.job1{
    font-family: sans-serif;   
}
.free-bk2{
    font-size: 18px;
    font-family: sans-serif;
    padding: 0 0 0 180px;
    text-decoration: line-through;
}
.color-free2{
    font-size: 18px;
    font-family: sans-serif;
    color: orange;
    font-weight: 600;
    padding: 0 0 0 5px;
}
.free-bk3{
    font-size: 18px;
    font-family: sans-serif;
    padding: 0 0 0 175px;
    text-decoration: line-through;
}
.color-free3{
    font-size: 18px;
    font-family: sans-serif;
    color: orange;
    font-weight: 600;
    padding: 0 0 0 0px;
}
.flex-block{
    width: 1304px;
    margin: 0 auto;
}
.button{
    text-align: center;
    padding-bottom: 15px;
}
.color-orange-hisse{
    background-image: url(./image/althisse.jpg);
    padding: 20px 0 57px;
    width: auto;
    height: auto;
}
.text12{

    display: flex;
    width: auto;
    justify-content: center; 
    
}
.link2-1{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.link2{
    
    background-color: transparent;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 30px;
    text-align: left;
      
}
.link2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.link2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.link2:hover span {
    padding-right: 25px;
}
  
.link2:hover span:after {
    opacity: 1;
    right: 0;
}
.high{
    width: 800px;
    font-size: 35px;
    font-family: sans-serif;
    color: #ffffff;
}
.learn{
    padding: 25px 0 0 50px
}

.fon7{
    background-color: black;
    width: auto;
    height: 625px;

}
.logo3{
    width: 200px;

}
.sonlug{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: 0 auto;
    padding-top: 100px;
}
.xett{
    width: 200px;
}
.flex-end{
    display: flex;
    padding-left: 460px;
    margin: -20px auto;

}
.contact{
    
    width: 303px;
}
.info{
    font-size: 18px;
    color: #ffffff;
    font-family: sans-serif;
}
.tel{
    font-size: 16px;
    color: gray;
    font-family: sans-serif;
    font-weight: 200;
}

.end{
    font-size: 16px;
    color: gray;
    padding:135px 0 0 70px;
}
.font-family{
    font-family: sans-serif;
    padding-top: 5px;
}


@media (min-width: 320px) and (max-width: 767px){
    .fon{
        display: block;
    }
    .fon1{
        display: none;
    }
    .fon3{
        display: block;
        width: 100%;
        font-size: 15px;
    }
    .fon4{
        padding: 0;
    }
    .text1{
        display: block;
        font-size: 15px;
        padding-left: 0;
        text-align: center;
    }
    .home{
        display: none;
    }
    .cards{
        display: block;
        width: 100%;
        margin: 0
    }
    .card1{
        height: 100%;
        width: 290px;
        box-shadow: none;

    }
    .card2{
        height: 100%;
        width: 290px;
        box-shadow: none;

    }
    .card3{
        height: 100%;
        width: 290px;
        box-shadow: none;

    }
    .sekil2{
        width: 290px;
    }
    .icon{
        display: none;
    }
   
    .badge{
        display: none;
    }
    .icon-menu{
        padding-left: 20px;
    }
    .text3{
        display: block;
        font-size: 17px;
    }
    .fon5{
        width: 100%;
    }
    .fon6{
        width: 100%;
    }
    .yazi{
        display: block;
        padding: 0px;
        font-size: 16px;
    }
    .yazialti{
        display: block;
        margin: 0;
        padding: 0;
        width: 300px; 
    }
    .sekil4{
        display: block;
        padding: 0;
        width: 70%;
    }
    .text8{
        display: block;
        
    }
    .text6{
        padding: 0;
    }

    .qodef-m-title{
        display: block;
        font-size: 30px;
        padding:0px
    }
    .text9{
        display: block;
    }
    .text9sekili{
        display: block;
        margin: 0;
        text-align: center;
    }
    .sekil5{
        width: 285px;

    }
    .ust{
        margin: 0;
    }
    .text11{
        display: block;
        padding: 0;
        font-size: 24px;
    }
    .flex-block{
        width: 100%;
        margin: 0 auto;
    }
    .populer{
        display: block;
    }
    .card4{
        width: 300px ;
        height: 100%;
    }
   
   .color-free{
    padding-left: 150px;

   }
   .free-bk{
    padding-left: 150px;
   }
    .populer2{
        display: block;
    }
    .free-bk2{
        padding-left: 100px;
    }
    .free-bk3{
        padding-left: 100px;
    }
    .text12{
        display: block;
    }
    .high{
        width: 300px;
    }
    .fon7{
        display: block;
        height: 100%;
    }
    .sonlug{
        display: block;
    }
    .flex-end{
        display: block;
        padding: 0;
        padding-top: 30px;
    }
    .xett{
        display: none; 
    }
    .end{
        display: block;
        padding: 0;
        padding-top: 30px;
    }
    .color-orange-hisse{
        width: 100%;
    }
    .contact{
        width: 100%;
        margin: 0 auto;
    }
    .learn{
       padding: 0;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .fon2{
        padding: 0;
        width: 100%;
    }
    
    .home{
        display: block;
        padding: 0;
        width: 50%;
    }
    .fon3{
        width: 100%;
    }
    .text1{
        padding-left: 0;
    }
    .cards{
        display: block;
        width: 100%;
    }
    .card1{
        height: 100%;
        box-shadow: none;
    }
    .card2{
        height: 100%;
        box-shadow: none;
    }
    .card3{
        height: 100%;
        box-shadow: none;
    }
    .fon4{
        padding-top: 30px;
    }
    .yazi{
        padding: 0;

    }
    .yazialti{
        margin: 0;
        padding: 0;
    }
    .fon5{
        width: 100%;
    }
    .fon6{
        width: 100%;
    }
    .sekil4{
        padding-top: 50px;
    }
    .text5{
        width: 100%;
    }

    .text9sekili{
        width: 100%;
    }
    .ust{
        margin: 0;
    }
    .text10{
        width: 100%;
    }
    .populer{
        display: block;
    
    }
    .flex-block{
        width: 100%;

    }
    .text11{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .card4{
        height: 100%;
    }
    .populer2{
        display: block;
    }
    .high{
        width: 100%;
    }
    .learn{
        padding: 0;
        padding-top: 25px;
    }
    .flex-end{
        padding: 0;
        margin: 0;
        padding-top: 20px;

    }
    .contact{
        width: 100%;
    }
    .end{
        padding: 0;
        padding-top: 50px;
    }  

}
@media (min-width: 1024px) and (max-width: 1439px){
    .fon3{
        width: 100%;

    }
    .cards{
        width: 100%;
        justify-content: space-between;

    }
    .card1{
        width: 325px;
        height: 100%;
        box-shadow: none;
    }
    .card2{
        width: 325px;
        height: 100%;
        box-shadow: none;
    }
    .card3{
        width: 325px;
        height: 100%;
        box-shadow: none;
    }
    .sekil2{
        width: 325px;
    }
    .fon4{
        padding: 0;

    }
    .sekil3{
        padding: 0;
    }
   .fon5{
    width: 100%;
   }
   .yazi{
    width: 100%;
   }
   .yazialti{
    width: 100%;
   }
   .fon6{
    width: 100%;

   }
   .text5{
    width: 100%;
   
   }
   .qodef-m-title{
    padding: 0;
    text-align: center;
   }
   .flex-block{
    width: 100%;
   }
   .text11{
    width: 100%;
   }
   .card4{
    display: block;
    width: 310px;
   }
   .color-free{
    padding: 0;
    padding-left: 160px;
   }
   .free-bk{
    padding: 0;
    padding-left: 160px;
   }
   .free-bk2{
    padding: 0;
    padding-left: 115px;

   }
   .flex2{
    padding-top: 30px;
   }
   .free-bk3{
    padding: 0;
    padding-left: 115px;
   }
   .learn{
    padding: 0;
    padding-top: 20px;
   }
   .flex-end{
    padding: 0;
    padding-left: 240px;
   }
   .contact{
    width: 100%;
   }

   
}


